<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="APIKey" value="A7PkKJA6X5xUllvahdkyTXkgTi6Fby4mdGBLeTZr4KVSPIPaegHnCkBzkjzCNeXa" />
    <add key="APISecret" value="AjpTzXXZoDyKjgGT9bXkHJWINZkJrE7fzEVlURT1iKLykT81zxBH0TdemOP4CKLQ" />
  </appSettings>
</configuration>